.body {
  display: flex;
  flex-direction: column;
  height: 73vh;
  max-height: 73vh;
}

.image {
  animation-delay: inherit;
  animation-fill-mode: both !important;
  animation: zoom 0.2s ease;
  height: 100%;
  margin: 2vh;
  max-height: 25vh;
  overflow: hidden;
}

.image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.alternatives {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2vh;
  justify-content: center;
  padding: 1vh 2vh;
  width: 100%;
}

.alternative {
  align-items: center;
  animation-fill-mode: both, none !important;
  animation: slide 0.3s ease, wave 5s ease infinite;
  background-color: var(--color-buttons);
  border-radius: 2vh;
  box-shadow: var(--shadow);
  color: black;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: 'Varela Round';
  gap: 2vh;
  max-height: 10vh;
  opacity: 1;
  padding: 0 1vh;
  transform: translateX(0) scale(1);
}

.body.end .alternative {
  animation: none !important;
}

.alternative:active,
.alternative.selected {
  background-color: var(--color-arc);
}

.alternativeNumber {
  font-family: 'Cherry Bomb';
  font-size: 3vh;
  margin-left: 1vh;
}

.alternativeBody {
  flex: 1;
  font-size: 2vh;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-110%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wave {
  from,
  94%,
  to {
    transform: scale(1);
  }

  97% {
    transform: scale(1.01);
  }
}

@keyframes zoom {
  from,
  to {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
