/* Variáveis */
:root {
  --color-header: #000000;
  --color-highlight: #9e2a2b;
  --color-buttons: #fff3b0;
  --color-arc: #e09f3e;
  --color-background: #335c67;
  --color-background-preparation: #0e2a47;
  --shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* letter-spacing: initial !important;
  line-height: initial !important;
  word-break: break-word !important; */
}

body {
  /* font-size: 2vh !important; */
  /* user-select: none; */
}

/* Fontes */
@font-face {
  font-family: 'Bungee';
  src: url('/fonts/Bungee.otf') format('opentype');
}

@font-face {
  font-family: 'Cherry Bomb';
  src: url('/fonts/CherryBomb.ttf') format('truetype');
}

@font-face {
  font-family: 'Days One';
  src: url('/fonts/DaysOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Varela Round';
  src: url('/fonts/VarelaRound.ttf') format('truetype');
}

.no-border-radius {
  border-radius: 0 !important;
}

/* Carrossel */
.carousel.highlights-carousel {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
  z-index: 1;
}

.carousel-item {
  background-size: cover;
  height: 100%;
}

.carousel-item img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
  z-index: 1;
}

.carousel-item img.background-img {
  filter: blur(1vh) brightness(0.5);
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1 !important;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1vh;
  bottom: 8vh !important;
  left: 3vh !important;
  margin: auto;
  max-width: calc(100% - 6vh);
  padding: 1vh !important;
  right: 3vh !important;
  width: fit-content !important;
}

.carousel-caption h2 {
  font-size: 4vh;
  margin-bottom: 0.5vh;
  margin-top: 0;
  padding: 1vh 0;
}

.carousel-caption span {
  font-size: 2vh;
}

.carousel-indicators {
  margin-bottom: 5vh !important;
}

.carousel-indicators button {
  border-radius: 50%;
  border: none !important;
  height: 1vh !important;
  margin: 0 1vh !important;
  transform: scale(1);
  transition: 0.2s ease !important;
  width: 1vh !important;
}

.carousel-indicators button.active {
  transform: scale(1.5);
}

/* Texto deslizante */
.marquee-container {
  background: linear-gradient(0deg, #000000c4, transparent);
  bottom: 0;
  font-family: 'Varela Round';
  height: 4vh;
  position: absolute !important;
  z-index: 1;
}

/* Barra de progresso (página login) */
.progress {
  background: none !important;
}

.progress > div {
  transition: width 1s linear;
}

/* SweetAlert2 */
.swal2-popup {
  border-radius: 0.5em !important;
}

@media (min-width: 720px) and (min-height: 1280px) {
  .swal2-popup {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 1080px) and (min-height: 1920px) {
  .swal2-popup {
    font-size: 2rem !important;
  }
}

.swal2-styled svg {
  display: inline-block;
  margin-right: 1vh;
}

/* Página login */
#loginAnimation {
  animation: loginAnimation 0.3s forwards;
  opacity: 0;
  transform: translateX(-10px);
  border-radius: 1vh;
  margin: 0 !important;
  max-width: 45vh !important;
  padding: 2vh 1.4vh !important;
  width: 100% !important;
}

@keyframes loginAnimation {
  to {
    opacity: 1;
    transform: initial;
  }
}

#loginAnimation h2 {
  font-size: 3vh !important;
}

#loginAnimation p {
  font-size: 2vh !important;
  margin-top: 1.2vh !important;
}

#loginAnimation .chakra-form-control {
  margin-top: 1.2vh !important;
}

#loginAnimation .chakra-stack {
  margin-top: 1.2vh !important;
}

#loginAnimation input {
  border-radius: 0.7vh !important;
  font-size: 2vh !important;
  height: 5vh !important;
  padding: 0 1.4vh !important;
}

#loginAnimation .chakra-button__icon {
  margin-right: 1.3vh !important;
}

#loginAnimation button.chakra-button {
  border-radius: 0.7vh !important;
  font-size: 2vh !important;
  height: 5vh !important;
}

/* Modal do Chakra */
@media screen and (max-width: 30em) {
  .chakra-modal__content {
    max-height: none !important;
    height: 100% !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 30em) and (max-height: 300px) {
  .chakra-modal__footer,
  .chakra-modal__header {
    padding: 0.25rem 0.5rem !important;
  }
}
