.container {
  background-color: var(--color-background-preparation);
  background-image: url('/img/preparation-background.svg');
  background-position: bottom;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 2;
}

.container.hidden {
  opacity: 0;
  pointer-events: none;
}

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.columns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  width: 100%;
}

.column {
  align-items: center;
  /* Não reordenar "animation" */
  animation: zoom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-delay: 0.4s;
  animation-fill-mode: both;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.title {
  /* Não reordenar "animation" */
  animation: zoom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-delay: 0s;
  animation-fill-mode: both;
  font-family: 'Bungee';
  font-size: 6vh;
  line-height: 10vh !important;
  margin-bottom: 1vh;
}

.message {
  /* Não reordenar "animation" */
  animation: zoom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-delay: 0.2s;
  animation-fill-mode: both;
  font-family: 'Varela Round';
  font-size: 3vh;
}

.topic,
.time {
  font-family: 'Days One';
  font-size: 4vh;
  margin-top: 3vh;
}

.topicName,
.timeValue {
  font-family: 'Varela Round';
  font-size: 3vh;
}

.timeValue {
  font-size: 3vh;
}

.timer {
  /* Não reordenar animation */
  animation: zoom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-delay: 0.8s;
  animation-fill-mode: both;
  height: 20vh !important;
  margin-top: 5vh;
  width: 20vh !important;
}

@keyframes zoom {
  from,
  to {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
