.body {
  display: flex;
  flex-direction: column;
  height: 73vh;
  max-height: 73vh;
}

.image {
	margin: 2vh;
  overflow: hidden;
	max-height: 25vh;
	height:100%;
}

.image img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.alternatives {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2vh;
  padding: 1vh 2vh;
  width: 100%;
}

.alternative {
  align-items: center;
  background-color: var(--color-buttons);
  border-radius: 2vh;
  box-shadow: var(--shadow);
  display: flex;
  flex: 1;
  font-family: "Varela Round";
	gap: 2vh;
	padding: 0 1vh;
}

.alternativeNumber {
  font-family: "Cherry Bomb";
  font-size: 3vh;
  margin-left: 1vh;
}

.alternativeBody {
  flex: 1;
  font-size: 2vh;
}