.loadingScreen {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.15s ease;
  width: 100%;
  z-index: 10100;
}

.loadingScreen.visible {
  display: flex;
  opacity: 1;
}

.loadingScreenText {
  color: white;
  font-size: 8vmin;
  margin-bottom: 20px;
}

.loadingScreenIcon {
  align-items: center;
  animation: sandClock 3s ease infinite;
  border-radius: 50%;
  border: white 2vmin solid;
  display: flex;
  font-size: 25vmin;
  height: 40vmin;
  justify-content: center;
  width: 40vmin;
}

.loadingScreenIcon .loadingScreenIconImg {
  width: 25vmin;
}

@keyframes sandClock {
  from {
    transform: rotate(0deg);
  }

  50%,
  to {
    transform: rotate(360deg);
  }
}
