:root {
  --color-header: #000000;
  --color-highlight: #9e2a2b;
  --color-buttons: #fff3b0;
  --color-arc: #e09f3e;
  --color-background: #335c67;
  --color-background-preparation: #0e2a47;
  --shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

* {
  -webkit-tap-highlight-color: transparent;
  letter-spacing: initial !important;
  line-height: initial !important;
  user-select: none;
  word-break: break-word !important;
}

body {
  font-size: 2vh !important;
}

@font-face {
  font-family: "Bungee";
  src: url("/fonts/Bungee.otf") format("opentype");
}

@font-face {
  font-family: "Cherry Bomb";
  src: url("/fonts/CherryBomb.ttf") format("truetype");
}

@font-face {
  font-family: "Days One";
  src: url("/fonts/DaysOne.ttf") format("truetype");
}

@font-face {
  font-family: "Varela Round";
  src: url("/fonts/VarelaRound.ttf") format("truetype");
}

.carousel.ads-carousel {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
  z-index: 1;
}

.carousel-item {
  background-size: cover;
  height: 100%;
}

.carousel-item img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
  z-index: 1;
}

.carousel-item img.background-img {
  filter: blur(1vh) brightness(0.5);
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1 !important;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1vh;
  bottom: 8vh !important;
  left: 3vh !important;
  margin: auto;
  max-width: calc(100% - 6vh);
  padding: 1vh !important;
  right: 3vh !important;
  width: fit-content !important;
}

.carousel-caption h2 {
  font-size: 4vh;
  margin-bottom: 0.5vh;
  margin-top: 0;
  padding: 1vh 0;
}

.carousel-caption span {
  font-size: 2vh;
}

.carousel-indicators {
  margin-bottom: 5vh !important;
}

.carousel-indicators button {
  border-radius: 50%;
  border: none !important;
  height: 1vh !important;
  margin: 0 1vh !important;
  transform: scale(1);
  transition: 0.2s ease !important;
  width: 1vh !important;
}

.carousel-indicators button.active {
  transform: scale(1.5);
}

.marquee-container {
  background: linear-gradient(0deg, #000000c4, transparent);
  bottom: 0;
  font-family: "Varela Round";
  height: 4vh;
  position: absolute !important;
  z-index: 1;
}

.progress > div {
  transition: width 1s linear;
}

#loginAnimation {
  opacity: 0;
  transform: translateX(-10px);
  animation: loginAnimation 0.3s forwards;
}

@keyframes loginAnimation {
  to {
      transform: initial;
      opacity: 1;
  }
}