:root {
  --color-header: #540b0e;
  --color-highlight: #9e2a2b;
  --color-buttons: #fff3b0;
  --color-arc: #e09f3e;
  --color-background: #335c67;
  --shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

@font-face {
  font-family: "Bungee";
  src: url("/fonts/Bungee.otf") format("opentype");
}

@font-face {
  font-family: "Cherry Bomb";
  src: url("/fonts/CherryBomb.ttf") format("truetype");
}

@font-face {
  font-family: "Days One";
  src: url("/fonts/DaysOne.ttf") format("truetype");
}

@font-face {
  font-family: "Varela Round";
  src: url("/fonts/VarelaRound.ttf") format("truetype");
}

.carousel.ads-carousel {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
  z-index: 1;
}

.carousel-item {
  background-size: cover;
  height: 100%;
}

.carousel-item img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
  z-index: 1;
}

.carousel-item img.background-img {
  filter: blur(6px) brightness(0.5);
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1 !important;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  bottom: 2vh !important;
  right: 3vh !important;
  left: 3vh !important;
  padding: 1vh !important;
}

.carousel-caption h2 {
  font-size: 4vh;
  margin-bottom: 0.5vh;
  margin-top: 0;
}

.carousel-caption span {
  font-size: 2vh;
}