.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-highlight);
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.container.hidden {
  opacity: 0;
  pointer-events: none;
}

.body {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6vh;
  font-family: "Bungee";
  line-height: 10vh !important;
  margin-bottom: 1vh;
}

.message {
  font-size: 3vh;
  font-family: "Varela Round";
}

.topic,
.time {
  font-size: 4vh;
  margin-top: 3vh;
  font-family: "Days One";
}

.topicName,
.timeValue {
  font-size: 3vh;
  font-family: "Varela Round";
}

.timeValue {
  font-size: 3vh;
}

.timer {
  width: 20vh !important;
  height: 20vh !important;
  margin-top: 5vh;
}
