.questionContainer {
  background-color: var(--color-highlight);
  box-shadow: var(--shadow);
  display: flex;
  color: white;
  padding: 1vh;
  font-size: 2vh;
  border-radius: 0 0 8vh 0;
  gap: 2vh;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topic {
  font-family: "Bungee";
  margin-bottom: 0.6vh;
}

.question {
  font-family: "Varela Round";
  flex: 1;
}

.createdBy {
  font-family: "Varela Round";
  display: flex;
  align-items: flex-end;
  font-size: 1vh;
  margin-top: 2vh;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  max-height: 17vh;
  width: 17vh;
  align-self: center;
}

.question div {
  display: flex;
}
