.questionContainer {
  background-color: var(--color-highlight);
  height: 20vh;
  box-shadow: var(--shadow);
  display: flex;
  color: white;
  padding: 1vh;
  font-size: 2vh;
  border-radius: 0 0 8vh 0;
  gap: 2vh;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topic {
  font-family: "Bungee";
  margin-bottom: 0.6vh;
}

.question {
  font-family: "Varela Round";
}

.createdBy {
  font-family: "Varela Round";
  flex: 1;
  display: flex;
  align-items: flex-end;
  font-size: 1vh;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.timerText {
  align-items: center;
  color: white;
  display: flex;
  font-family: "Days One";
  font-size: 7vh;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: transform 0.2s ease;
  width: 100%;
}

.timerText.scale {
  transform: scale(1.2);
}

.timerText.timeEnding {
  color: var(--color-arc);
}

.test {
  height: 100%;
}

.question div {
  display: flex;
}
